<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIFF App</title>
    <!-- LIFF SDKの読み込み -->
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</head>

<body>
    <h1>LIFF App Example</h1>
    <p>お待ちください...</p>

    <script type="text/javascript">
        liff.init({
            liffId: "2006046408-9V1PxwDl", // LIFF IDをここに挿入
        })
            .then(() => {
                if (!liff.isLoggedIn()) {
                    liff.login();  // ユーザーがログインしていない場合、ログインを促します
                } else {
                    const accessToken = liff.getAccessToken();
                    if (accessToken) {
                        console.log('Access Token:', accessToken); // アクセストークンを確認するためのログ出力
                    } else {
                        console.error('アクセストークンが取得できませんでした。');
                    }
                }
            })
            .catch((err) => {
                console.error('LIFF Initialization failed', err);
            });
    </script>

</body>

</html>
