<!-- line_management/templates/line_management/liff_score_settings.html -->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIFF Score App</title>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</head>

<body>
    <h1>スコア加算</h1>
    <p>お待ちください...</p>

    <script type="text/javascript">
        liff.init({
            liffId: "{{ liff_id }}", 
        }).then(() => {
            if (!liff.isLoggedIn()) {
                liff.login(); 
            } else {
                const accessToken = liff.getAccessToken();
                console.log('Access Token:', accessToken); 

                // サーバーにアクセストークンを送信してスコアを加算
                fetch('{% url "line_management:verify_token" link_score.pk %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    body: `access_token=${accessToken}`
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    window.location.href = data.link_url;  // 成功時にリンク先にリダイレクト
                })
                .catch(error => console.error('Error:', error));
            }
        }).catch((err) => {
            console.error('LIFF Initialization failed', err);
        });
    </script>
</body>
</html>
