<!-- line_management/templates/line_management/liff_template.html -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIFF App</title>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</head>

<body>
    <h1>LIFF App Example</h1>
    <p>お待ちください...</p>
    <p>Score ID: {{ link_score.pk }}</p>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const liffId = "{{ liff_id }}";  
            
            liff.init({ liffId })
                .then(() => {
                    if (!liff.isLoggedIn()) {
                        liff.login();
                    } else {
                        const accessToken = liff.getAccessToken();
                        if (accessToken) {
                            console.log('Access Token:', accessToken);

                            fetch("{% url 'line_management:verify_token' link_score.pk %}", {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/x-www-form-urlencoded',
                                    'X-CSRFToken': '{{ csrf_token }}',
                                },
                                body: `access_token=${encodeURIComponent(accessToken)}`
                            })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.link_url) {
                                        window.location.href = data.link_url;
                                    } else {
                                        console.warn('リンクURLが見つかりません');
                                    }
                                })
                                .catch(error => {
                                    console.error('Error:', error);
                                    alert('アクセストークンの検証に失敗しました。');
                                });
                        } else {
                            console.error('アクセストークンが取得できませんでした。');
                        }
                    }
                })
                .catch(err => {
                    console.error('LIFFの初期化に失敗しました:', err);
                });
        });

    </script>

</body>

</html>
