{% extends "base_dashboard.html" %}
{% load static %}

{% block content %}
<h1 class="text-3xl font-bold mb-8">スコア一覧</h1>

<div class="flex mb-8">
    <div class="w-3/5 bg-white p-6 rounded-lg shadow-lg">
        <!-- 日付絞り込みフォームの追加 -->
        <form method="GET" action="{% url 'line_management:line_friends_list' %}" class="flex items-center gap-4 bg-white p-6 rounded-lg shadow-md">
            <div class="flex flex-col">
                <label for="start_date" class="text-sm font-semibold text-gray-600 mb-1">開始日:</label>
                <input type="date" id="start_date" name="start_date" value="{{ request.GET.start_date }}" class="w-48 px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-transparent">
            </div>

            <div class="flex flex-col">
                <label for="end_date" class="text-sm font-semibold text-gray-600 mb-1">終了日:</label>
                <input type="date" id="end_date" name="end_date" value="{{ request.GET.end_date }}" class="w-48 px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-transparent">
            </div>

            <button type="submit" class="bg-primary text-white font-semibold py-2 px-6 rounded-md hover:bg-opacity-80 transition duration-300" style="margin: 20px 0px 0px 12px;">
                絞り込む
            </button>
        </form>

        <!-- スコア一覧テーブル -->
        <table class="min-w-full bg-white shadow-md rounded-lg">
            <thead>
                <tr>
                    <th class="py-2 px-2 border-b-2 text-gray-600 text-left text-sm">
                        トータルスコア
                        <select id="order-select" class="ml-2 border p-1 rounded">
                            <option value="-total_score" {% if order == "-total_score" %}selected{% endif %}>降順</option>
                            <option value="total_score" {% if order == "total_score" %}selected{% endif %}>昇順</option>
                        </select>
                    </th>
                    <th class="py-2 px-2 border-b-2 text-gray-600 text-left text-sm">ユーザー</th>
                    <th class="py-2 px-2 border-b-2 text-gray-600 text-left text-sm">アクションタグ</th>
                    <th class="py-2 px-2 border-b-2 text-gray-600 text-left text-sm">ユーザーメモ</th>
                    <th class="py-2 px-2 border-b-2 text-gray-600 text-left text-sm">最終アクション日</th>
                </tr>
            </thead>

            <tbody>
                {% for data in line_friends_data %}
                <tr class="cursor-pointer" onclick="loadUserDetails('{{ data.friend.id }}')">
                    <td class="py-2 px-2 border-b text-sm">{{ data.friend.total_score }}</td>
                    <td class="py-2 px-1 border-b text-sm">
                        <div class="flex flex-col items-center justify-center">
                            <img src="{{ data.friend.picture_url }}" alt="User Icon" class="w-8 h-8 rounded-full mr-2">
                            <span>{{ data.friend.display_name }}</span>
                        </div>
                    </td>
                    <td class="py-2 px-2 border-b text-sm">
                        {% for tag in data.friend.tags.all %}
                        <span class="inline-block text-white py-1 px-3 my-3 rounded-full text-sm" style="background-color: {{ tag.color }}; color: white; padding: 0.5em; margin-top: 0.35rem; margin-bottom: 0.35rem;">{{ tag.name }}</span>
                        {% endfor %}
                    </td>
                    <td class="py-2 px-4 border-b text-sm">{{ data.short_memo }}</td>
                    <td class="py-2 px-2 border-b text-sm">{{ data.final_action_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script>
            // 並び替えプルダウンが変更されたときにページをリロードして並び替えを反映
            document.getElementById('order-select').addEventListener('change', function () {
                const selectedOrder = this.value;
                const url = new URL(window.location.href);
                url.searchParams.set('order', selectedOrder);
                window.location.href = url.toString();
            });
        </script>
    </div>

    <!-- ユーザー詳細 -->
    <div class="w-2/5 bg-second p-6 rounded-lg shadow-lg ml-8" id="user-details-container">
        <h2 class="text-xl font-semibold mb-4 text-textmain">ユーザー詳細</h2>
        <p>ユーザーの詳細を表示するには、左側のスコア一覧からユーザーを選択してください。</p>
    </div>
</div>

<script>

    // 並び替えプルダウンが変更されたときにページをリロードして並び替えを反映
    document.getElementById('order-select').addEventListener('change', function () {
        const selectedOrder = this.value;
        window.location.href = `?order=${selectedOrder}`;
    });

    function loadUserDetails(userId) {
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');  // CSRFトークンを取得

        fetch(`/line/api/user/${userId}/`)
            .then(response => response.json())
            .then(data => {
                const container = document.getElementById('user-details-container');
                container.innerHTML = `
                <div class="space-y-4">
                    <div class="text-center">
                        <img src="${data.picture_url}" alt="アカウント画像" class="w-32 h-32 rounded-full mx-auto mb-4">
                        <p class="text-textmain">${data.display_name}</p>
                    </div>
                    <div class="flex justify-center items-center rounded-lg p-4 mb-4">
                        <div class="text-center border-2 border-primary border-r-0 rounded-tl-lg rounded-bl-lg bg-white px-4 py-2">
                            <h3 class="text-md font-semibold text-textmain">トータルスコア</h3>
                            <p class="text-2xl font-bold text-textmain">${data.total_score}</p>
                        </div>
                        <div class="text-center border-2 border-primary rounded-tr-lg rounded-br-lg bg-white px-4 py-2">
                            <h3 class="text-md font-semibold text-textmain">最終アクション日</h3>
                            <p class="py-1 text-textmain">${data.final_action_date}</p>
                        </div>
                    </div>
                    <div class="bg-white p-6 rounded-lg shadow-lg">
                        <div class="space-y-4">
                            <div class="flex bg-gray-100 py-2 px-4 rounded-lg">
                                <h3 class="w-2/5 font-semibold text-textmain">ID</h3>
                                <p class="text-textmain">${data.id}</p> 
                            </div>
                            <div class="flex bg-white py-2 px-4 rounded-lg">
                                <h3 class="w-2/5 font-semibold text-textmain">流入経路</h3>
                                <p class="text-textmain">流入経路が入る</p> 
                            </div>
                            <div class="flex bg-gray-100 py-2 px-4 rounded-lg">
                                <h3 class="w-2/5 font-semibold text-textmain">アクションタグ</h3>
                                <div>
                                    ${data.tags.map(tag => `
                                        <span class="inline-block text-white py-1 px-3 rounded-full text-sm" style="background-color: ${tag.color}; color: white; padding: 0.5em; margin-top: 0.35rem; margin-bottom: 0.35rem;">${tag.name}</span>
                                    `).join('')}
                                </div>
                            </div>
                            <div class="space-y-4">
                                <!-- ショートメモ -->
                                <div class="flex bg-white py-2 px-4 rounded-lg">
                                    <h3 class="w-2/5 font-semibold text-textmain">メモ<br>(最大50文字)</h3>
                                    <div>
                                        <textarea id="short_memo" rows="2" maxlength="50" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300">${data.short_memo}</textarea>
                                        <button id="save-short-memo-btn" class="mt-2 bg-primary text-white py-2 px-4 rounded">保存</button>
                                    </div>
                                </div>
                                
                                <!-- 詳細メモ -->
                                <div class="flex bg-gray-100 py-2 px-4 rounded-lg">
                                    <h3 class="w-2/5 font-semibold text-textmain">詳細メモ</h3>
                                    <div>
                                        <textarea id="memo" rows="4" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300">${data.detail_memo}</textarea>
                                        <button id="save-memo-btn" class="mt-2 bg-primary text-white py-2 px-4 rounded">保存</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            `;
                // 詳細メモ保存ボタンのイベントリスナーを追加
                document.getElementById('save-memo-btn').addEventListener('click', function () {
                    const detail_memo = document.getElementById('memo').value;  // 詳細メモ
                    fetch(`/line/api/user/${userId}/update_memo/`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken
                        },
                        body: JSON.stringify({ detail_memo: detail_memo })  // 詳細メモを送信
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert('詳細メモが正常に保存されました');
                            } else {
                                alert('詳細メモの保存に失敗しました');
                            }
                        });
                });

                // ショートメモ保存ボタンのイベントリスナーを追加
                document.getElementById('save-short-memo-btn').addEventListener('click', function () {
                    const short_memo = document.getElementById('short_memo').value;  // ショートメモ
                    fetch(`/line/api/user/${userId}/update_memo/`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken
                        },
                        body: JSON.stringify({ short_memo: short_memo })  // ショートメモを送信
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert('ショートメモが正常に保存されました');
                            } else {
                                alert('ショートメモの保存に失敗しました');
                            }
                        });
                });

            })
            .catch(error => {
                console.error('Fetch error:', error);
                alert('ユーザー情報の取得に失敗しました。');
            });
    }
</script>
{% endblock %}
